        /* БАЗОВЫЕ СТИЛИ + header + footer */

:root {
    --title: #212121;
    --text: #757575;
    --a-hover-focus-btn: #2196F3;
    --text-backgr-white: #FFFFFF;
    --text-gray: rgba(255, 255, 255, 0.6);
    --backgr-black: #2F303A;
    --backgr-prior-service: #F5F5F5;
    --backgr-team: #F5F4FA;
    --black: #000000;
}

body {
    color: var(--text);
    background-color: var(--text-backgr-white);
}

/* базовые настройки 
заголовки<h..> (title), списки<li>(item), ссылки<a>(link) */
.title,
.link {
    color: var(--title);
}

.link:hover,
.link:focus {
    color: var(--a-hover-focus-btn);
}

.item {
    list-style: none;
}

/* header */
.logo {
    color: var(--a-hover-focus-btn);
}

.logo span{
    color: var(--black);
}

.header-nav .link.current {
    color: var(--a-hover-focus-btn);
}

/* footer */
.footer {
    background-color: var(--backgr-black);
}

.footer span,
.footer-list_map {
    color: var(--text-backgr-white);
}

.footer-list .link {
    color: var(--text-gray);
}

.footer-list_map:hover,
.footer-list_map:focus,
.footer-list .link:hover,
.footer-list .link:focus {
    color: var(--a-hover-focus-btn);
}


